{% extends 'vertical_nav.html' %}
{% block content %}
    <div class="templatemo-content col-1 light-gray-bg">  
        
            <div class="templatemo-top-nav-container">
              <div class="row">
                <nav class="templatemo-top-nav col-lg-12 col-md-12">
                  <ul class="text-uppercase">
                    <li><a href="" class="active">Dashboard</a></li>
                    <li><a href="/" >Sign Out</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          
        <div class="templatemo-content-container">
            <div class="templatemo-flex-row flex-content-row">
              <div class="templatemo-content-widget card-hover white-bg col-1 text-center" id="add-batch" style="background-color: #1f2124;
              opacity: 0.86;">
                <img src={{ url_for('static', filename="images/add-batch.jpg")}} alt="Bicycle" class="img-circle img-thumbnail" style="width: 130px;">
                <h3 class="text-uppercase " style="margin-top: 14px; color: #ffffff;">Add Batches</h3>
            </div> 
              <div class="col-1 "></div>
              <div class="templatemo-content-widget card-hover white-bg col-1 text-center" id="remove-one" style="background-color: #1f2124;
              opacity: 0.86;">
                <img src={{ url_for('static', filename="images/delete-user.png")}} alt="Bicycle" class="img-circle img-thumbnail" style="width: 130px;">
                <h3 class="text-uppercase" style="margin-top: 14px; color: #ffffff;">Remove</h3>
            </div>
            </div>
            <div class="templatemo-flex-row flex-content-row">
              <div class=" col-1"></div>
              <div class="templatemo-content-widget card-hover col-1 white-bg text-center" id="show-all" style="background-color: #1f2124;
              opacity: 0.86;">
                <img src={{ url_for('static', filename="images/show-all.png")}} alt="Bicycle" class="img-circle img-thumbnail" style="width: 130px;">
                <h3 class="text-uppercase" style="margin-top: 14px; color: #ffffff;">Show All</h3> 
            </div>
              <div class="col-1"></div>  
            </div>
            <div class="templatemo-flex-row flex-content-row" >
                <div class="templatemo-content-widget card-hover white-bg col-1 text-center" id="update" style="background-color: #1f2124;
                opacity: 0.86;">
                  <img src={{ url_for('static', filename="images/update.jpeg")}} alt="Bicycle" class="img-circle img-thumbnail" style="width: 130px;">
                  <h3 class="text-uppercase" style="margin-top: 14px; color: #ffffff;">Update Batch</h3>
                </div> 
                <div class="col-1 "></div>
                <div class="templatemo-content-widget card-hover white-bg col-1 text-center" id="remove-one" style="background-color: #1f2124;
               opacity: 0.86;">
                  <img src={{ url_for('static', filename="images/remove-all.png")}} alt="Bicycle" class="img-circle img-thumbnail" style="width: 130px;">
                  <h3 class="text-uppercase" style="margin-top: 14px; color: #ffffff;">Remove All</h3>
                </div>
            </div>
        </div>
    </div> 
{% endblock %}