{% extends 'vertical_nav.html' %}
{% block content %}
    <div class="templatemo-content col-1 light-gray-bg">  
            <div class="templatemo-top-nav-container">
              <div class="row">
                <nav class="templatemo-top-nav col-lg-12 col-md-12">
                  <ul class="text-uppercase">
                    <li><a href="/admin/dashboard" class="active">Dashboard</a></li>
                    <li><a href="/admin/logout" >LogOut</a></li>
                  </ul>
                </nav>
              </div>
            </div>
            <div class="templatemo-content-widget no-padding">
                <div class="panel panel-default table-responsive" style="margin-top: 70px; ">
                  <table class="table table-striped table-bordered templatemo-user-table">
                    <thead>
                      <tr>
                        <td><a href="" class="white-text templatemo-sort-by"># <span class="caret"></span></a></td>
                        <td><a href="" class="white-text templatemo-sort-by">Enrollment<span class="caret"></span></a></td>
                        
                        <td>Delete</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1.</td>
                        <td>03720802717</td>
                        
                        <td><a href="" class="templatemo-edit-btn">Delete</a></td>
                      </tr>
                      <tr>
                        <td>2.</td>
                        <td>05520802717</td>
                        <td><a href="" class="templatemo-edit-btn">Delete</a></td>
                      </tr>
                      <tr>
                        <td>3.</td>
                        <td>03620802717</td>
                        <td><a href="" class="templatemo-edit-btn">Delete</a></td>
                      </tr>
                      <tr>
                        <td>4.</td>
                        <td>02222025522</td>
                        <td><a href="" class="templatemo-edit-btn">Delete</a></td>
                      </tr>
                      <tr>       
                    </tbody>
                  </table>    
                </div>                          
              </div>          
    </div>
{% endblock %}