{% extends 'base.html' %}
    {% block head %}
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700' rel='stylesheet' type='text/css'>
        <title>Forgot Password</title>
    {% endblock %}

    {% block body %}
        <div id="loader"></div>
        <div class="templatemo-content-widget templatemo-login-widget white-bg">
            <header class="text-center">
                <img src="{{ url_for('static',filename='images/logo3.png') }}" width="256">
            </header>            
            <div class="templatemo-login-form">	 
                <div class="form-group">   
                    <div class="input-group flex-nowrap">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="addon-wrapping"><i class="fa fa-user fa-fw"></i></span>
                        </div>
                        <input type="text" class="form-control" id="userid" placeholder="Username" aria-describedby="addon-wrapping">
                    </div>    	 
                </div>
	        		  	       		          	
				<div class="form-group">
					<button id="submitOtpBtn" class="templatemo-blue-button width-100">Send OTP</button>
				</div>
	        </div>
        </div>
        <div id="secondDiv">
            <div class="templatemo-content-widget templatemo-login-widget templatemo-register-widget white-bg">
                <header class="text-center">
                    <h1>Set Password</h1>
                </header>
                <div class="templatemo-login-form">	 
                    <div class="input-group flex-nowrap">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="addon-wrapping"><i class="fa fa-mobile fa-fw"></i></span>
                            </div>
                            <input type="text" class="form-control" id="enterOtpBtn" placeholder="Enter OTP." aria-describedby="addon-wrapping">
                    </div>         	                        
                    <div class="input-group mb-3 border border-gray rounded">
                        <div class="input-group-prepend border-0">
                          <span class="input-group-text border-0" id="basic-addon1">
                            <i class="fa fa-key fa-fw"></i>
                          </span>
                        </div>
                        <input type="password" class="form-control border-0" id="newPasswordBtn" placeholder="New Password" >
                        <i class="fas fa-eye-slash fa-lg text-muted my-auto ml-2 mr-3 py-1" id="eyeTogglerNew"></i>
                    </div>             
                    <div class="form-group">
                    <div class="input-group mb-3 border border-gray rounded">
                        <div class="input-group-prepend border-0">
                          <span class="input-group-text border-0" id="basic-addon1">
                            <i class="fa fa-key fa-fw"></i>
                          </span>
                        </div>
                        <input type="password" class="form-control border-0" id="confirmPasswordBtn" placeholder="Confirm Password" >
                        <i class="fas fa-eye-slash fa-lg text-muted my-auto ml-2 mr-3 py-1" id="eyeTogglerConfirm"></i>
                    </div>
                    </div>            	  	       		       
                    <div class="form-group">
                        <button id="submitPasswordBtn" class="templatemo-blue-button width-100">Set Password</button>
                    </div>
                </div>
            </div>
        </div>
		<script src="{{ url_for('static', filename='js/forgotPassword.js' ) }}" type="text/javascript"></script>
    {% endblock %}
