{% extends 'vertical_nav.html' %}
{% block content %}
    <div class="templatemo-content light-gray-bg">  
        <div class="templatemo-top-nav-container">
            <div class="row">
            <nav class="templatemo-top-nav">
                <ul class="text-uppercase">
                <li><a href="/admin/dashboard" class="active">Dashboard</a></li>
                <li><a href="/admin/logout" >Logout</a></li>
                </ul>
            </nav>
            </div>
        </div>

        
         <div class="panel panel-default mt-5 ml-3 mr-3 bg-light"  >
            <div class="panel-heading"><h2 class="text-uppercase text-center"> Enter Batch Details</h2></div>
            <div class="panel-body">
            
                <!-- <div class="form-group">
                <label style="margin-top: 10px;"><b>Programme</b></label>
                <input type="text" class="form-control" id="programme" placeholder="Enter Programme">
                </div>
                <div class="form-group">                      
                <label><b>Course</b></label>
                <input type="text" class="form-control" id="branch" placeholder="Enter Branch">                                 
                </div> 
                <div class="form-group">                      
                    <label><b>Section</b></label>
                    <input type="text" class="form-control" id="section" placeholder="Enter Section">                                 
                </div>              
                <div class="form-group">                      
                    <label>Year Of Pass</label>
                    <input type="text" class="form-control" id="year_of_pass" placeholder="Enter Year Of Pass">                                 
                </div> 
                <div class="form-group">
                <button type="submit" class="templatemo-blue-button" id="queryBtn">Show Batch </button>
                </div> -->
                <div>
                    <div class="form-group row mt-5 ml-2 mr-2">
                      <label class="col-sm-2 col-form-label" style="font-size: 1rem;"><b>Programme :</b></label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="programme" placeholder="Enter Programme">
                      </div>
                    </div>
                    <div class="form-group row ml-2 mr-2">
                      <label class="col-sm-2 col-form-label" style="font-size: 1rem;"><b>Branch :</b></label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="branch" placeholder="Enter Branch">
                      </div>
                    </div>
                    <div class="form-group row ml-2 mr-2">
                        <label class="col-sm-2 col-form-label" style="font-size: 1rem;"><b>Section</b></label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="section" placeholder="Enter Section">
                        </div>
                    </div>
                    <div class="form-group row ml-2 mr-2">
                        <label class="col-sm-2 col-form-label" style="font-size: 1rem;"><b>Year Of Pass</b></label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="year_of_pass" placeholder="Enter Year Of Pass">
                        </div>
                      </div>
                    
                    <div class="form-group row mt-5 ml-2 mr-2 mb-3">
                      <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary mb-4" id="queryBtn">Submit</button>
                      </div>
                    </div>
                  </div>
            </div>                
        </div>    
    </div>
    <script src="{{ url_for('static', filename='js/query-table.js' ) }}" type="text/javascript"></script>
    <!-- <script src="{{ url_for('static', filename='js/show-all.js' ) }}" type="text/javascript"></script> -->


{% endblock %}