{% extends 'vertical_nav.html' %}
{% block content %}
    <div class="templatemo-content col-1 light-gray-bg">  
            <div class="templatemo-top-nav-container">
              <div class="row">
                <nav class="templatemo-top-nav col-lg-12 col-md-12">
                  <ul class="text-uppercase">
                    <li><a href="/admin/dashboard" class="active">Dashboard</a></li>
                    <li><a href="/admin/logout" >Logout</a></li>
                  </ul>
                </nav>
              </div>
            </div>
            <div class="templatemo-content-widget no-padding">
              
                <div class="panel panel-default table-responsive" style="margin-top: 70px; ">
                  <table class="table table-striped table-bordered templatemo-user-table">
                    <caption style="text-align: center;"><h2>{{ batch }}</h2></caption>
                    <thead>
                     
                      <tr>
                        <td><a href="" class="white-text templatemo-sort-by">Sr. No.</a></td>
                        <td><a href="" class="white-text templatemo-sort-by">Enrollment</a></td>
                      </tr>
                    </thead>
                    <tbody>
                      
                        {% for i in range(len(enrollments)) %}
                        <tr>
                          <td>{{ i+1 }}</td>
                        <td>{{ enrollments[i] }}<a href="" name="{{ enrollment }}" id="deleteBtn" class="templatemo-edit-btn remove-btn" style="margin-left: 50px;">Delete</a></td>
                      </tr>
                      {% endfor %}
                     
                      <tr>       
                    </tbody>
                  </table>    
                </div>                          
              </div>          
    </div>

{% endblock %}